body {
  font-size: 10pt;
  line-height: 1.5;
}

a[href] {
  color: var(--dark-gray);
}

h1 {
  font-size: 34px;
}

h2, h3 {
  font-size: 16px;
}

.font-small {
  font-size: 12px;
}

.lead {
  font-size: 18px;
}

main {
  padding: 0;
}

.page {
  height: 25.7cm;
  padding: 2cm;
}

footer {
  display: block;
}

article {
  break-inside: avoid;
}

nav {
  display: none;
}

footer {
  margin-top: 100px;
}

/* TEMP */
header {
  margin: -2cm -2cm 0 -2cm;
  padding: 2cm 2cm 1cm 2cm;
}